
<nav class="navbar navbar-expand-lg mb-3" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">AlaskaDex</a>
      <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('main.my_dex')}}">My AKDex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('main.home')}}">All Animals</a>
          </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">{% if not current_user.is_authenticated %}
          <li class="nav-item"> <a class="nav-link" href="{{url_for('auth.login')}}">Sign In</a></li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.logout')}}">Log Out</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </nav>