{%extends "layout.html"%} {%block content%}
<div class=" container mx-auto p3 text-center">
  <h3>Welcome, {{current_user.first_name}}</h3>
  <h5>Have you discovered any new Alaskan animals lately?</h5>
</div>
<div class="container">
  <div class="row g-2">
    {%for a in animals%}
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{a.given_name}}</h5>
          <p class="card-text">{{a.sci_name}}</p>
          <p class="card-text">Family: {{a.family}}</p>
          <p class="card-text">Order: {{a.order}}</p>
          <form action="/add" method="POST">
            <input type="checkbox" id="animal" name="animal" value="{{a.id}}" checked hidden>
  <label for="animal"></label>
            <button type="submit" class ="btn btn-primary">Add</button>
            <span><a href="https://en.wikipedia.org/wiki/{{a.given_name}}" class="btn btn-primary" target="_blank">Learn More</a></span>
       </form>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>
{%endblock content%}
